


body {
color:white;
background-color:black;
background-image:url(http://umad.com/img/2015/10/dark-wood-wallpaper-601-659-hd-wallpapers.jpg);
}






.dashboard{
   font-family: fantasy;
   background-color: black;
}




.floating-box-images {
    font-family: fantasy;
    display: inline-block;
    width: 297px;
    height: 416px;
    margin: 10px;

}


.floating-box-main {
    font-family: fantasy;
    display: inline-block;
    width: 160px;
    height: 277px;
    margin: 0px;

}

.floating-box-action-zone {
    display: inline-block;
    width: 550px;
    height: 230px;
    margin: 20px 20px 0 0;  
    border: 5px solid #73AD21; 
    overflow: auto;
        font-family: fantasy;
}

.post-container {
    display: inline-block;
    width: 350px;
    height: 200px;
    margin: 20px 20px 0 0;  
    border: 5px solid #73AD21; 
    overflow: auto;
        font-family: fantasy;
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 210px
}



.button {
	-moz-box-shadow: 0px 14px 14px -7px #276873;
	-webkit-box-shadow: 0px 14px 14px -7px #276873;
	box-shadow: 0px 14px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:3px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:15px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 0px 0px #3d768a;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.button:active {
	position:relative;
	top:1px;
}

.buttonoff {
	-moz-box-shadow: 0px 14px 14px -7px #000000;
	-webkit-box-shadow: 0px 14px 14px -7px #000000;
	box-shadow: 0px 14px 14px -7px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4c5052), color-stop(1, #bfbfbf));
	background:-moz-linear-gradient(top, #4c5052 5%, #bfbfbf 100%);
	background:-webkit-linear-gradient(top, #4c5052 5%, #bfbfbf 100%);
	background:-o-linear-gradient(top, #4c5052 5%, #bfbfbf 100%);
	background:-ms-linear-gradient(top, #4c5052 5%, #bfbfbf 100%);
	background:linear-gradient(to bottom, #4c5052 5%, #bfbfbf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c5052', endColorstr='#bfbfbf',GradientType=0);
	background-color:#4c5052;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:3px solid #fffcff;
	display:inline-block;
	cursor:pointer;
	color:#b0b0b0;
	font-family:Impact;
	font-size:15px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 0px 0px #000000;
}



.pied{
    background-color: black;
    color :  #fff; /* couleur du texte */
}